<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="carlist_content-Type" carlist_content="text/html; charset=utf-8" />
<meta name="viewport" carlist_content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<title>纳车品协议</title>
<link href="/static/images/web/ncp_logo.ico" rel="icon" type="image/x-icon"/>
<link href="/static/images/web/ncp_logo.ico" rel="shortcut icon" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="/static/css/web/common.css?v=${v}">
<link rel="stylesheet" type="text/css" href="/static/css/web/style.css?v=${v}">
<script type="text/javascript" src="/static/js/web/baidu.js?v=${v}"></script>
<script type="text/javascript" src="/static/js/web/jquery-1.9.1.min.js?v=${v}"></script>
<script type="text/javascript" src="/static/js/web/zixie.js?v=${v}"></script>
</head>
<body>
<!-- top start -->
<%include("/web/common/top.html"){}%>
<!-- top end -->
<div class="ttxy_main">
    <div class="ttXY_con">
        <div class="ttXY_title">纳车品供销服务平台用户协议</div>
        <div class="ttXY_title01">为维护网上公共秩序和社会稳定，请您自觉遵守以下条款：</div>
        <p>一、用户有权根据本协议的约定，以及纳车品供销服务平台上发布的相关规则在纳车品供销服务平台上查询车型信息、提交购车订单、支付购车订金、分享买车信息、参加纳车品供销服务平台的有关活动，以及使用纳车品供销提供的其他服务。</p>
        <p>二、用户在使用纳车品供销服务平台过程中实施的所有行为均应遵守中华人民共和国法律、法规等规范性文件及纳车品供销服务平台各项规则的规定和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。如果违反上述承诺，产生任何法律后果的，用户应以自己的名义独立承担所有的法律责任，并确保纳车品供销免于因此遭受任何损失。</p>
        <p>三、用户不得在纳车品供销服务平台发表包含以下内容的言论：</p>
        <p>（一）反对宪法所确定的基本原则，煽动、抗拒、破坏宪法和法律、行政法规实施的；</p>
        <p>（二）煽动颠覆国家政权，推翻社会主义制度，煽动、分裂国家，破坏国家统一的；</p>
        <p>（三）损害国家荣誉和利益的；</p>
        <p>（四）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
        <p>（五）任何包含对种族、性别、宗教、地域内容等歧视的；</p>
        <p>（六）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</p>
        <p>（七）宣扬封建迷信、邪教、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</p>
        <p>（八）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</p>
        <p>（九）损害国家机关信誉的；</p>
        <p>（十）其他违反宪法和法律行政法规的。</p>
        <p>四、用户在纳车品供销服务平台分享购车体验时，除遵守本条款外，还应遵守纳车品供销服务平台的其他相关规定。</p>
        <p>五、对于被纳车品供销服务平台暂时停止或者永久停止账号的用户，停止账号期间纳车品供销服务平台将不在该用户账号下提供任何服务。</p>
        <p>六、对于任何影响或可能影响用户权利的情况，用户有权向纳车品供销服务平台进行反馈，并提供相应证据资料，需要纳车品供销服务平台协助解决的，应提供有足够证明力的证据资料。</p>
        <div class="ttXY_gongsi">天台纳车品网络科技有限公司</div>
        <div class="ttXY_jieshi">天台纳车品网络科技有限公司对所有条款有最终解释权</div>
        <div class="ttXY_fanhui">
            <span class="ttFhui_btn"><a href="/index.html" title="返回首页">返回首页</a></span>
        </div>
    </div>
</div>
<!-- footer start -->
<%include("/web/common/foot.html"){}%>
<!-- footer end -->
</body>
</html>
