<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="carlist_content-Type" carlist_content="text/html; charset=utf-8" />
    <meta name="viewport" carlist_content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>登录</title>
    <link href="/static/images/web/ncp_logo.ico" rel="icon" type="image/x-icon"/>
    <link href="/static/images/web/ncp_logo.ico" rel="shortcut icon" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/static/css/web/common.css?v=${v}">
    <link rel="stylesheet" type="text/css" href="/static/css/web/style.css?v=${v}">
    <script type="text/javascript" src="/static/js/web/jquery-1.9.1.min.js?v=${v}"></script>
    <script type="text/javascript" src="/static/js/web/zixie.js?v=${v}"></script>
    <script type="text/javascript" src="/static/js/web/baidu.js?v=${v}"></script>
    <script type="text/javascript" src="/static/js/common.js?v=${v}"></script>
    <script type="text/javascript" src="/static/js/jquery.form.js?v=${v}"></script>
    <script type="text/javascript">
        $(function(){
            Common.ajaxForm($("form.tt_login"),"${actionKey!'/'}", null);
            $(".ttlog_logbtn").click(function(){
                $("form.tt_login").submit();
            });

        });
        function showError(message){
            $("#error").html(message);
            $("#error").show();
        }
        function hideError(){
            $("#error").html("");
            $("#error").hide();
        }
    </script>
</head>
<body>
    <!-- top start -->
    <%include("/web/common/top.html"){}%>
    <!-- top end -->
    <div class="ttlog_main">
        <div class="ttlog_mainCon">
            <div class="login_box"></div>
            <form class="tt_login" action="/loginByCode">
                <p class="ttlog_title">用户登录</p>
                <p class="ttlog_p">
                    <span class="ttlog_tit">用户名/手机号</span>
                    <span><input type="text" name="code" class="ttlog_inputT" maxlength="20" placeholder="用户名/手机号" onchange="hideError()" onfocus="javascript:this.className='redborder02'" onblur="javascript:this.className='ttlog_inputT'" /></span>
                </p>
                <p class="ttlog_p">
                    <span class="ttlog_tit">登录密码</span>
                    <span><input type="password" name="password" class="ttlog_inputP" maxlength="20" placeholder="请输入密码"  onchange="hideError()" onfocus="javascript:this.className='redborder03'" onblur="javascript:this.className='ttlog_inputP'" /></span>
                    <span class="ttlog_zhpwd"><a href="/forgetPwd.html" title="找回密码">找回密码</a></span>
                </p>
                <p class="ttlog_p">
                    <span class="ttlog_fxk">
                        <input type="checkbox" name="autoLogin" checked="checked">
                    </span>
                    <span class="ttlog_text">下次自动登录</span>
                </p>
                <input class="ttlog_logbtn float_l" value="登录" type="submit" style="border: none">

                <span class="ttlog_zhpwd"><a href="register.html" title="注册" >马上注册</a></span>
                <div class="ty_gyClear"></div>
                <div class="ttlog_error" id="error">请输入正确的手机号</div>
            </form>
        </div>
    </div>
    <!-- footer start -->
    <%include("/web/common/foot.html"){}%>
    <!-- footer end -->
</body>
</html>
