<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="carlist_content-Type" carlist_content="text/html; charset=utf-8" />
    <meta name="viewport" carlist_content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>注册成功页</title>
    <link href="/static/images/web/ncp_logo.ico" rel="icon" type="image/x-icon"/>
    <link href="/static/images/web/ncp_logo.ico" rel="shortcut icon" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/static/css/web/common.css?v=${v}">
    <link rel="stylesheet" type="text/css" href="/static/css/web/style.css?v=${v}">
    <script type="text/javascript" src="/static/js/web/jquery-1.9.1.min.js?v=${v}"></script>
    <script type="text/javascript" src="/static/js/web/zixie.js?v=${v}"></script>
</head>
<body>
<!-- top start -->
<%include("/web/common/top.html"){}%>
<!-- top end -->
<div class="ty_gyClear"></div>
<div class="ttlog_main">
    <div class="ttzhpwd_conter04">
        <img class="ttzhpwd_cheg" src="/static/images/web/tt_acusse.png" width="60" />
        <span class="ttzhpwd_chegText">恭喜，注册成功!</span>
        <div class="ty_gyClear"></div>
        <a href="/index.html" title="去纳车品供销服务平台&#45;&#45;首页">
            <div class="gongjin_top01">
                <span class="home_icon">&nbsp;</span>
                <span class="home_index">首页</span>
            </div>
        </a>
        <a href="/member/purchase.html" title="去申请成为进货商">
            <div class="gongjin_top02">
                <span class="jinhuo_icon">&nbsp;</span>
                <span class="home_index">进货商申请</span>
            </div>
        </a>
        <a href="/member/supplier.html" title="去申请成为供货商">
            <div class="gongjin_top03">
                <span class="gonghuo_icon">&nbsp;</span>
                <span class="home_index">供货商申请</span>
            </div>
        </a>
    </div>
</div>
<!-- footer start -->
<%include("/web/common/foot.html"){}%>
<!-- footer end -->
</body>
</html>
