<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/static/favicon.ico" rel="bookmark icon" />
    <meta charset="utf-8">
    <link href="/static/images/web/ncp_logo.ico" rel="icon" type="image/x-icon"/>
    <link href="/static/images/web/ncp_logo.ico" rel="shortcut icon" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="http://g.alicdn.com/sj/dpl/1.4.3/css/sui-themes-dark-green.min.css?v=${v}" />
    <link rel="stylesheet" type="text/css" href="http://g.alicdn.com/sj/dpl/1.4.3/css/sui-append.min.css?v=${v}" />
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css?v=${v}">
    <link rel="stylesheet" type="text/css" href="/static/css/hui.css?v=${v}">
    <script src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js?v=${v}"></script>
    <script src="/static/js/jquery.form.js?v=${v}"></script>
    <script src="http://g.alicdn.com/sj/dpl/1.4.3/js/sui.min.js?v=${v}"></script>
    <script src="/static/js/common.js?v=${v}"></script>
    <script type="text/javascript">
    </script>
    ${layoutContent}
</head>