<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="carlist_content-Type" carlist_content="text/html; charset=utf-8" />
<meta name="viewport" carlist_content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<title>品牌专区</title>
<link href="/static/images/web/ncp_logo.ico" rel="icon" type="image/x-icon"/>
<link href="/static/images/web/ncp_logo.ico" rel="shortcut icon" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="/static/css/web/common.css?v=${v}">
<link rel="stylesheet" type="text/css" href="/static/css/web/style.css?v=${v}">
<script type="text/javascript" src="/static/js/web/jquery-1.9.1.min.js?v=${v}"></script>
<script type="text/javascript" src="/static/js/web/zixie.js?v=${v}"></script>
<script type="text/javascript" src="/static/js/web/baidu.js?v=${v}"></script>
</head>
<body>
    <%include("/web/common/top.html"){}%>
    <div class="ttppzq_gongsi">
        <p class="ttppzq_gsTitle">汽车坐垫</p>
        <ul class="ttppzq_bannerHolder">
            <li class="ttppzq_imggG">
                <div class="ttppzq_banner" title="卡美乐">
                    <img width="214" alt="" height="198" src="/static/images/web/ttppzq_gslog03.png" />
                    <p class="companyInfo">卡美乐</p>
                    <div class="cornerTL"></div>
                    <div class="cornerTR"></div>
                    <div class="cornerBL"></div>
                    <div class="cornerBR"></div>
                </div>
            </li>
            <li class="ttppzq_imggG">
                <div class="ttppzq_banner" title="绫罗坊">
                    <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog02.png" />
                    <p class="companyInfo">绫罗坊</p>
                    <div class="cornerTL"></div>
                    <div class="cornerTR"></div>
                    <div class="cornerBL"></div>
                    <div class="cornerBR"></div>
                </div>
            </li>
            <li class="ttppzq_imggG">
                <div class="ttppzq_banner" title="卡思叮">
                    <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog01.png" />
                    <p class="companyInfo">卡思叮</p>
                    <div class="cornerTL"></div>
                    <div class="cornerTR"></div>
                    <div class="cornerBL"></div>
                    <div class="cornerBR"></div>
                </div>
            </li>
            <li class="ttppzq_imggG">
                <div class="ttppzq_banner" title="驿佰">
                    <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog04.png" />
                    <p class="companyInfo">驿佰</p>
                    <div class="cornerTL"></div>
                    <div class="cornerTR"></div>
                    <div class="cornerBL"></div>
                    <div class="cornerBR"></div>
                </div>
            </li>
            <li class="ttppzq_imggG" style="padding-right:0;">
                <div class="ttppzq_banner" title="澳展">
                    <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog05.png" />
                    <p class="companyInfo">澳展</p>
                    <div class="cornerTL"></div>
                    <div class="cornerTR"></div>
                    <div class="cornerBL"></div>
                    <div class="cornerBR"></div>
                </div>
            </li>
        </ul>
        <div class="ty_gyClear"></div>
    </div>
    <div class="ttppzq_gongsi">
        <p class="ttppzq_gsTitle">汽车脚垫</p>
        <ul class="ttppzq_bannerHolder">
            <li class="ttppzq_imggG">
                <div class="ttppzq_banner" title="卡美乐">
                    <img width="214" alt="" height="198" src="/static/images/web/ttppzq_gslog03.png" />
                    <p class="companyInfo">卡美乐</p>
                    <div class="cornerTL"></div>
                    <div class="cornerTR"></div>
                    <div class="cornerBL"></div>
                    <div class="cornerBR"></div>
                </div>
            </li>
            <li class="ttppzq_imggG">
                <div class="ttppzq_banner" title="卡思叮">
                    <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog01.png" />
                    <p class="companyInfo">卡思叮</p>
                    <div class="cornerTL"></div>
                    <div class="cornerTR"></div>
                    <div class="cornerBL"></div>
                    <div class="cornerBR"></div>
                </div>
            </li>
            <li class="ttppzq_imggG">
                <div class="ttppzq_banner" title="绫罗坊">
                    <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog02.png" />
                    <p class="companyInfo">绫罗坊</p>
                    <div class="cornerTL"></div>
                    <div class="cornerTR"></div>
                    <div class="cornerBL"></div>
                    <div class="cornerBR"></div>
                </div>
            </li>
            <li class="ttppzq_imggG">
                <div class="ttppzq_banner" title="澳展">
                    <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog05.png" />
                    <p class="companyInfo">澳展</p>
                    <div class="cornerTL"></div>
                    <div class="cornerTR"></div>
                    <div class="cornerBL"></div>
                    <div class="cornerBR"></div>
                </div>
            </li>
            <li class="ttppzq_imggG" style="padding-right:0;">
                <div class="ttppzq_banner" title="驿佰">
                    <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog04.png" />
                    <p class="companyInfo">驿佰</p>
                    <div class="cornerTL"></div>
                    <div class="cornerTR"></div>
                    <div class="cornerBL"></div>
                    <div class="cornerBR"></div>
                </div>
            </li>
        </ul>
        <div class="ty_gyClear"></div>
    </div>
    <div class="ttppzq_gongsi">
        <p class="ttppzq_gsTitle">方向盘套</p>
        <ul class="ttppzq_bannerHolder">
            <li class="ttppzq_imggG">
                <div class="ttppzq_banner" title="绫罗坊">
                    <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog02.png" />
                    <p class="companyInfo">绫罗坊</p>
                    <div class="cornerTL"></div>
                    <div class="cornerTR"></div>
                    <div class="cornerBL"></div>
                    <div class="cornerBR"></div>
                </div>
            </li>
            <li class="ttppzq_imggG">
                <div class="ttppzq_banner" title="驿佰">
                    <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog04.png" />
                    <p class="companyInfo">驿佰</p>
                    <div class="cornerTL"></div>
                    <div class="cornerTR"></div>
                    <div class="cornerBL"></div>
                    <div class="cornerBR"></div>
                </div>
            </li>
            <li class="ttppzq_imggG">
                <div class="ttppzq_banner" title="澳展">
                    <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog05.png" />
                    <p class="companyInfo">澳展</p>
                    <div class="cornerTL"></div>
                    <div class="cornerTR"></div>
                    <div class="cornerBL"></div>
                    <div class="cornerBR"></div>
                </div>
            </li>
            <li class="ttppzq_imggG">
                <div class="ttppzq_banner" title="卡思叮">
                    <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog01.png" />
                    <p class="companyInfo">卡思叮</p>
                    <div class="cornerTL"></div>
                    <div class="cornerTR"></div>
                    <div class="cornerBL"></div>
                    <div class="cornerBR"></div>
                </div>
            </li>
            <li class="ttppzq_imggG" style="padding-right:0;">
                <div class="ttppzq_banner" title="卡美乐">
                    <img width="214" alt="" height="198" src="/static/images/web/ttppzq_gslog03.png" />
                    <p class="companyInfo">卡美乐</p>
                    <div class="cornerTL"></div>
                    <div class="cornerTR"></div>
                    <div class="cornerBL"></div>
                    <div class="cornerBR"></div>
                </div>
            </li>
        </ul>
        <div class="ty_gyClear"></div>
    </div>
        <div class="ttppzq_gongsi">
            <p class="ttppzq_gsTitle">汽车内饰</p>
            <ul class="ttppzq_bannerHolder">
                <li class="ttppzq_imggG">
                    <div class="ttppzq_banner" title="澳展">
                        <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog05.png" />
                        <p class="companyInfo">澳展</p>
                        <div class="cornerTL"></div>
                        <div class="cornerTR"></div>
                        <div class="cornerBL"></div>
                        <div class="cornerBR"></div>
                    </div>
                </li>
                <li class="ttppzq_imggG">
                    <div class="ttppzq_banner" title="卡美乐">
                        <img width="214" alt="" height="198" src="/static/images/web/ttppzq_gslog03.png" />
                        <p class="companyInfo">卡美乐</p>
                        <div class="cornerTL"></div>
                        <div class="cornerTR"></div>
                        <div class="cornerBL"></div>
                        <div class="cornerBR"></div>
                    </div>
                </li>
                <li class="ttppzq_imggG">
                    <div class="ttppzq_banner" title="卡思叮">
                        <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog01.png" />
                        <p class="companyInfo">卡思叮</p>
                        <div class="cornerTL"></div>
                        <div class="cornerTR"></div>
                        <div class="cornerBL"></div>
                        <div class="cornerBR"></div>
                    </div>
                </li>
                <li class="ttppzq_imggG">
                    <div class="ttppzq_banner" title="驿佰">
                        <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog04.png" />
                        <p class="companyInfo">驿佰</p>
                        <div class="cornerTL"></div>
                        <div class="cornerTR"></div>
                        <div class="cornerBL"></div>
                        <div class="cornerBR"></div>
                </div>
            </li>
                <li class="ttppzq_imggG" style="padding-right:0;">
                    <div class="ttppzq_banner" title="绫罗坊">
                        <img width="214" title="" alt="" height="198" src="/static/images/web/ttppzq_gslog02.png" />
                        <p class="companyInfo">绫罗坊</p>
                        <div class="cornerTL"></div>
                        <div class="cornerTR"></div>
                        <div class="cornerBL"></div>
                        <div class="cornerBR"></div>
                    </div>
                </li>
        </ul>
        <div class="ty_gyClear"></div>
    </div>
    <div style="width:100%;height:20px;"></div>
</div>
<%include("/web/common/foot.html"){}%>
<script>
$(document).ready(function(){
    // 0.4代表遮罩的透明度
    $('.ttppzq_banner div').css('opacity',0.2);
    $('.ttppzq_banner').hover(function(){
        var el = $(this);
        // 先淡出阴影，后淡入文字
        el.find('div').stop().animate({width:200,height:200},'slow',function(){
            el.find('p').fadeIn('fast');
        });
    },function(){
        var el = $(this);
        // 隐藏文字
        el.find('p').stop(true,true).hide();
        // 去掉遮罩
        el.find('div').stop().animate({width:60,height:60},'fast');
    });
});
</script>
</body>
</html>
