<div class="gb_banquan01">
    <div class="gb_footer">
        <div class="gb_footer-con1" style="width:1190px;margin:0 auto;border:0;">
            <dl class="float_l">
                <dt>关于纳车品</dt>
                <dd>
                    <div><a href="/companyProfile.html" title="公司简介">公司简介</a></div>
                    <div><a href="/contactUs.html" title="联系我们">联系我们</a></div>
                    <div><a href="http://www.2788.com/" target="_blank" title="友情链接">友情链接</a></div>
                </dd>
            </dl>
            <dl class="float_l">
                <dt>服务保障</dt>
                <dd>
                    <div><a href="/brand/list.html" target="_blank" title="实体工厂货源">实体工厂货源</a></div>
                    <div><a href="/returnGoods.html" target="_blank" title="8天无理由放心退">8天无理由放心退</a></div>
                </dd>
            </dl>
            <dl class="float_l" style="margin-right:80px;">
                <dt>新手指南</dt>
                <dd>
                    <div><a href="/registeredAccount.html" title="账户注册">账户注册</a></div>
                    <div><a href="/gouwuliucheng.html" title="购物流程">购物流程</a></div>
                    <div><a href="/peisongfanwei.html" title="配送范围及时间">配送范围及时间</a></div>
                </dd>
            </dl>
            <dl class="float_l" style="margin-right:90px;">
                <dt>售后服务</dt>
                <dd>
                    <div><a href="/zhengce.html" title="退换货政策">退换货政策</a></div>
                    <div><a href="/banliliucheng.html" title="退换货办理流程">退换货办理流程</a></div>
                    <div><a href="/tuikuanshuoM.html" title="退款说明">退款说明</a></div>
                </dd>
            </dl>
            <dl class="float_l" style="margin-right:90px;">
                <dt>帮助中心</dt>
                <dd>
                    <div><a href="/zaixiankefu.html" title="在线客服">在线客服</a></div>
                    <div><a href="/forgetPwd.html" title="找回密码">找回密码</a></div>
                    <div><a href="/falvshenming.html" title="法律申明">法律申明</a></div>
                </dd>
            </dl>

            <dl class="float_r" style="margin-right:0px;">
                <dd style="width:222px;">
                    <div class="gb_fotimg float_l"><img src="/static/images/web/gb_tel.png"/></div>
                    <div class="gb_fotext">咨询热线</div>
                    <div class="gb_fotmtel">0576-81300105</div>
                    <div class="gb_fotzixun">咨询时间 : 周一到周日 9:00 - 21：00 </div>
                </dd>
            </dl>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="gb_banquan03">
    <div class="gb_footer-con2 width clear">
        <ul>
            <li>电话 : 0576-81300105 联系地址 : 天台县坦头镇天台金恒德中国汽车用品城C1幢501室</li>
            <li>版权所有 ©  天台纳车品网络科技有限公司  ICP证：浙ICP备16006471号</li>
        </ul>
    </div>
</div>