<%layout("../layout/header_layout.html"){%>
<title>订单列表</title>
<script type="text/javascript">
    $(function () {
        Pagination.init();
        $("input.btn-reset").click(function () {
            Common.reset("form.query-form");
        });
    });
</script>
<%}%>
<%layout("../layout/body_layout.html"){%>
<div class="query-zone">
    <form class="sui-form form-horizontal query-form" id="query-form">
        <input type="hidden" name="perSize" value="${page.perSize!10}">

        <div class="sui-row">
            <div class="span4">
                <div class="input-prepend">
                    <span class="add-on">
                        查询条件
                    </span>
                    <span class="sui-dropdown dropdown-bordered select" style="margin-top: -4px;">
                        <span class="dropdown-inner">
                            <a role="button" href="javascript:void(0);" data-toggle="dropdown"
                               class="dropdown-toggle h22">
                                <input value="${parameter.fieldName!}" name="fieldName" type="hidden">
                                <i class="caret"></i>
                                <span>
                                    ${decode(parameter.fieldName, 'orderCode', '订单编号', 'goodsCode', '商品编号',
                                    'goodsItemNo', '商品货号', 'sellerPhone', '卖家电话', 'buyerPhone', '买家电话',
                                    '请选择')}
                                </span>
                            </a>
                            <ul role="menu" aria-labelledby="drop4" class="sui-dropdown-menu">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:void(0);" value="">请选择</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:void(0);"
                                       value="orderCode">订单编号</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:void(0);" value="goodsCode">商品编号</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:void(0);"
                                       value="goodsItemNo">商品货号</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:void(0);"
                                       value="sellerPhone">卖家电话</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:void(0);"
                                       value="buyerPhone">买家电话</a>
                                </li>
                            </ul>
                        </span>
                    </span>
                    <span class="add-on2">=</span>
                    <input type="text" class="input h22" name="value" value="${parameter.value!}"/>
                </div>
            </div>
            <div class="span2">
                <div class="input-prepend">
                    <span class="add-on">
                        状态
                    </span>
                    <span class="sui-dropdown dropdown-bordered select">
                        <span class="dropdown-inner">
                            <a role="button" href="javascript:void(0);" data-toggle="dropdown"
                               class="dropdown-toggle h22">
                                <input value="${parameter.status!}" name="status" type="hidden">
                                <i class="caret"></i>
                                <span>
                                    ${decode(parameter.status, '20', '已付款', '30', '拣货', '40', '发货', '50', '待收',
                                    '60', '完成', '70', '退货申请', '80', '退回发回', '90', '全额退款', '100', '退货协商',
                                    '请选择')}
                                </span>
                            </a>
                            <ul role="menu" aria-labelledby="drop4" class="sui-dropdown-menu">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:void(0);" value="">请选择</a>
                                </li>
                                <%for(s in statusList!){%>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:void(0);" value="${s.val}">${s.name}</a>
                                </li>
                                <%}%>
                            </ul>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="sui-row">
            <button class="sui-btn btn-primary">查询</button>
            <input type="button" class="sui-btn btn-primary btn-reset" value="重置"/>

            <div class="sui-btn-group">
            </div>
        </div>
    </form>
</div>
<table class="sui-table table-bordered">
    <thead>
    <tr>
        <th>订单编号</th>
        <th>创建时间</th>
        <th>商品编号</th>
        <th>商品货号</th>
        <th>商品规格</th>
        <th>订单数</th>
        <th>总金额</th>
        <th>卖家电话</th>
        <th>买家电话</th>
        <th>订单状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <%for(item in pager.data!){%>
    <tr>
        <td>${item.code!}</td>
        <td>${item.created!, 'yyyy-MM-dd HH:mm:ss'}</td>
        <td>${item.goodsCode!}</td>
        <td>${item.goodsItemNo!}</td>
        <td>${item.specPropValue!}</td>
        <td>${item.quantity!}</td>
        <td><#yuan value='${item.money}' /></td>
        <td>${item.sellerPhone!}</td>
        <td>${item.buyerPhone!}</td>
        <td>${item.status.name!}</td>
        <td>
            <a href="/admin/order/detail?code=${item.code}" class="sui-btn btn-small">查看</a>
        </td>
    </tr>
    <%}elsefor{%>
    <tr>
        <td colspan="4">没有数据</td>
    </tr>
    <%}%>
    </tbody>
</table>
<#page val="${pager.page!}" size="large" params="${parameter.map!}"/>
<%}%>
